html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

a {
  color: map-deep-get($theme-colors, blue, primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
