// REMOVE THE BORDER AROUND HTML BODY

.unloaded {
  display: none;
}

html {
  box-sizing: border-box;
  color: map-get($typography-color, dark-primary);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  color: map-deep-get($theme-colors, blue, primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-thin {
  font-weight: 400;
}

.text-thick {
  font-weight: 800;
}
